body {
    background-color: #FCEBB6;
     color: #221811;
     font-family: Verdana, Arial, sans-serif;
 }
 header {
     background-color: #D2B48C;
 }
 h1 {
     line-height: 200%;
 }
 nav {
     text-align: center;
     font-weight: bold;
 }